body{
    margin: 0px;
    padding: 0px;
    background-color: #36C2CE;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel-inner{
    width: 100%;

}
.d-block{
    width: 10px;
}

.carousel-item {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
    position: relative;
}


.header {
    padding: 20px;
    top: 0px;
    background-color: black;
    color: white;
    position: sticky;
    z-index: 1;
}
button{
    border: none;
    background-color: black;
    color: white;
    text-decoration:underline;
}

.row{
    display: flex;
    justify-content: center;
    gap: 10px;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
}
.col-3{
    background-color: white;
    padding: 10px;

}
.col-3 h5{
    padding: 50px;
}
.container{
    margin-left: 0px;
}
a{
    text-align: center;
    border: 1px solid white;
}
.row{
    background-color: #36C2CE;
    margin-left: 180px;
}
